.appLink {
	color: var(--primary-color);
	transition: all 0.3s;

	&:hover {
		filter: brightness(0.7);
	}
}

.primary {
	color: var(--primary-color);
}

.secondary {
	color: var(--invert-primary-color);
}
