.app_orange_theme {
	--bg-color: #fbf8f4;
	--invert-bg-color: #f7b249;

	--primary-color: #f7b249;
	--secondary-color: #f7b249;

	--invert-primary-color: #fbf8f4;
	--invert-secondary-color: #f7b249;
}
