.profileCard {
	position: relative;
	padding: 20px;
	border: 2px solid var(--invert-bg-color);
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.header {
	display: flex;
	justify-content: space-between;
}

.data {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.button {
	width: min-content;
}

.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 160px;
}

.error {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 160px;
}

.avatarWrapper {
	position: absolute;
	top: 20px;
	right: 30px;
}

.edit {
	border: 2px solid var(--invert-primary-color);
}
